.trainer-container {
    display: flex;
    flex-direction: column; /* Change flex-direction to column */
    align-items: center; /* Align items to the center horizontally */
    padding-bottom: 2rem;
}

.trainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 3rem;
}

.trainer-name-tab {
    margin-top: 0.5rem; /* Adjust margin between avatar and name */
}