.workout-container-panel {
    width: 80rem;
    height: auto; 
    margin-right: 2rem;
}

.trainers-container-panel {
    padding-top: 2rem;
    width: 80rem;
    height: auto; 
    margin-right: 2rem;
}
